/*
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Open+Sans&family=Roboto:wght@500;700&family=Source+Code+Pro:wght@400;500;700&display=swap');
</style>
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;
*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Open+Sans&family=Roboto:wght@500;700&family=Source+Code+Pro:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #a5fcc9; /* Cor da barra de rolagem */
  border-radius: 4px; /* Bordas arredondadas da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor da barra de rolagem ao passar o mouse */
}


.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do thumb do scroll ao passar o mouse */
}
