.title {
    font-weight: 400;
    color: #000;
    font-family: 'Inter';
    font-size: 60px;
    line-height: 39px;
    text-align: center;
  }
  .title span {
    color: green;
    font-weight: bold;
  }
  
  .fadeIn {
    animation: fadeInAnimation 2s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media screen and (max-width: 1500px) {
    .title {
      font-size: 40px;
    }
  }
  @media screen and (max-width: 1200px) {
    .title {
      font-size: 32px;
    }
  }
  @media screen and (max-width: 765px) {
    .title {
      font-size: 34px;
    }
  }
  
  
  