/*
  Global style Settings
*/
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  background-repeat: no-repeat;
  background: rgb(35, 128, 34);
  background: linear-gradient(
    90deg,
    rgba(35, 128, 34, 1) 0%,
    rgba(13, 194, 94, 1) 66%,
    rgb(2, 89, 36) 100%
  );
}
