.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    transition: background-color 0.3s;
  }
  

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.90);
}

.navbrand {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.navbrand:hover {
  color: #ff6b6b;
}

.navlinks {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlink {
  margin-left: 1rem;
  position: relative;
}

.navlink a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navlink a:hover {
  color: #ff6b6b;
}

.navlink::before {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #ff6b6b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navlink:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.content {
  padding: 4rem 1rem 1rem;
  margin-top: 1rem;
  transition: margin-top 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    display: none;
  }

  .navbar.scrolled {
    background-color: #333;
  }

  .navlinks {
    flex-direction: column;
    margin-top: 1rem;
  }

  .navlink {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .content {
    margin-top: 8rem;
  }
}
