@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.navBarContainer{
  justify-content: center;
  display: flex;
  background-color: #333333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  align-items: center; /* Adicionado para centralizar verticalmente */
  z-index: 1;
  transition: background-color 0.3s;
}

.navbar {
  border: 1px solid red;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.697);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navbrand {
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.6s;
}

.navbrand:hover {
  color: #ff6b6b;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: center; /* Adicionado para centralizar os links */
  list-style: none;
  margin: 0;
  padding: 0;
}


.navlink {
  padding-right: 2rem;
  margin-left: 1rem;
  position: relative;
}

.navlink a {
  font-family: 'Roboto', sans-serif;  
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.navlink a:hover {
  color: #34fd02;
}

.navlink::before {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #ff6b6b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navlink:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.content {
  padding: 4rem 1rem 1rem;
  margin-top: 1rem;
  transition: margin-top 0.8s;
}
