.sideBarContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #1FE079;
}

.sideBarContainer ul{
    padding-left: 0;
}

.sideBarContainer li{
    list-style: none;
    margin-top: 50px;
    text-align: center;
}

.sideBarContainer a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.sideBarContainer a:hover{
    cursor: pointer;
    color: #d9d9d9;
}



